.nav_div {
  height: 60px;
  /* border: 2px solid red; */
  background-color: aqua;
}
.nav_div > button {
  float: right;
  height: 70%;
  width: 8%;
  margin: 10px 50px 0px 0px;
  border-radius: 3px;
  border: none;
  background-color: chartreuse;
}
.container_div {
  /* border: 2px solid red; */
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 8px;
}
.container_div > div {
  border: 2px solid green;
  height: 150px;
  background-color: antiquewhite;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}
