.main_div {
  border: 2px solid red;
  /* height: 250px; */
  text-align: center;
  width: 30%;
  position: absolute;
  top: 20%;
  left: 35%;
}
.main_div > .outlined_basic {
  width: 90%;
  margin: 8px;
}
